# 1. 보안 파일
config.py
secrets.json
.env
api_keys.py

# 2. 파이썬 가상환경 및 캐시
venv/
.venv/
__pycache__/
*.pyc

# 3. 로그 및 학습 부산물
*.log
catboost_info/
lightning_logs/
wandb/

# 4. 데이터 파일
data/
*.csv
*.xlsx
*.db
*.sqlite3

# 5. 시스템/에디터 설정
.vscode/
.idea/
.DS_Store

# 6. 자바 빌드 파일
*.jar
*.class

# 7. 모델 파일 (중요!)
models/
*.pkl
